{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}



{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-primary text-white">
    <div class="container">
      <h1 class="display-3">Order 24 By 7</h1>
      <p>Order 24/7 is an Indian multinational technology company based in Ahmedabad, Gujarat which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the India information technology industry, along with Google, Apple, Microsoft, and Facebook. The company has been referred to as "one of the most influential economic and cultural forces in the world", as well as the world's most valuable brand.</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 ">
        <h2>Board of directors</h2>
        <ul>
          <li>Urmil Trivedi, President, CEO, Chairman of the Board</li>
          <li>Dhyey Dave, Senior Vice President and Chief Financial Officer</li>
          <li>Kashyap Shukla, CEO Worldwide Consumer</li>
          <li>Sahil Shah, Senior Vice President, General Counsel and Secretary</li>
          <li>Vatsal Kudecha, CEO Worldwide Consumer</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Products and services</h2>
        
        <p>Order 24/7's product lines available at its website include several media (books, DVDs, music CDs, videotapes and software), apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal-care items, industrial & scientific supplies, kitchen items, jewelry, watches, lawn and garden items, musical instruments, sporting goods, tools, automotive items and toys & games. </p>

      </div>
      <div class="col-md-4">
        <h2>Finances</h2>
        <p>Order 24/7 is primarily a retail site with a sales revenue model; Order 24/7 takes a small percentage of the sale price of each item that is sold through its website while also allowing companies to advertise their products by paying to be listed as featured products.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2018-2021</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}